{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta property="og:site_name" content="Nahual App"/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="Descubre tu Nahual"/>

    {% block page_title %}
    <title>Nahual</title>
    <meta property="og:title" content="Nahual App"/>
    <meta property="og:image" content="https://{{ request.get_host }}{% static "img/logo.png" %}"/>
    {% endblock page_title %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static "css/grayscale.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7910880084570598",
            enable_page_level_ads: true
        });
    </script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                    Nahual<span class="light">App</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% block navbar %}
                    <li>
                        <a href="#" onclick="consultar();">NAHUAL DE HOY</a>
                    </li>
                    {% endblock navbar %}
                    <li>
                        <a class="page-scroll" href="https://drive.google.com/open?id=0B-Dmn3ANfI73NGQ4MFlJZmpqdGs" target="_blank">
                            <i class="fa fa-android" aria-hidden="true"></i> APP
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.facebook.com/nahualapp" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i> BOT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% block content %}

    {% endblock content %}
    <footer>
        <div class="container text-center">
            <p>
                <a class="btn btn-default" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i> Compartir
                </a>
            </p>
            <p>Copyright &copy; Nahual App 2017</p>
        </div>
    </footer>
    
</body>

<body id="page-top">

    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "js/grayscale.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>