{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Descubre tu nahual</h1>
                    <p class="intro-text">Escoge tu fecha de nacimiento para empezar</p>
                    <form class="form" id="nahual_form" method="post" action="{% url 'nahual_api' %}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.day.label_tag }}
                                    {{ form.day }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{ form.month.label_tag }}
                                {{ form.month }}
                            </div>
                            <div class="col-md-4">
                                {{ form.year.label_tag }}
                                {{ form.year }}
                            </div>
                        </div>
                        {% csrf_token %}
                        <br>
                        <button class="btn btn-circle animated"><i class="fa fa-play"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}