{% extends "base.html" %}

{% load staticfiles thumbnail %}

{% block page_title %}
<title>{{ nahual.nombre }}</title>
<meta property="og:title" content="{{ nahual.nombre }}">
<meta property="og:image" content="{{ nahual.foto|thumbnail_url:'avatar-lg' }}">
{% endblock page_title %}


{% block navbar %}
<li>
	<a class="page-scroll" href="#caracteristicas">Info</a>
</li>
<li>
	<a class="page-scroll" href="#color">Color</a>
</li>
<li>
	<a class="page-scroll" href="#interpretacion">Interpretación</a>
</li>
{% endblock navbar %}


{% block content %}
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="brand-heading">{{ nahual }}</h1>
					<p align="center">
						<img src="{{ nahual.foto|thumbnail_url:'avatar-lg' }}" class="img-responsive" alt="">
					</p>
					<p>
						<a href="#caracteristicas" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="caracteristicas" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Características</h2>
			<p>{{ nahual.caracteristicas|safe }}</p>
			<p>
				<a href="#color" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
			</p>
		</div>
	</div>
</section>

<section id="color" class="content-section text-center">
	<div class="download-section" style="background: url({% static 'img/downloads-bg.jpg' %}) no-repeat center center scroll;">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Color</h2>
				<p>{{ nahual.color|safe }}</p>
				<p>
					<a href="#interpretacion" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
				</p>
			</div>
		</div>
	</div>
</section>


<section id="interpretacion" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Interpretación</h2>
			<p>{{ nahual.interpretacion|safe }}</p>
			<p>
				<a href="#fecha" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
			</p>
		</div>
	</div>
</section>

<section id="fecha" class="content-section text-center">
	<div class="download-section" style="background: url({% static 'img/downloads-bg.jpg' %}) no-repeat center center scroll;">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Siguiente fecha</h2>
				<p>la siguiente fecha para este Nahual es {{ nahual.get_siguiente_fecha|date:"d/m/Y" }}</p>
			</div>
		</div>
	</div>
</section>
{% endblock content %}